@charset "UTF-8";
body {
  background-color: orange; }

h1 {
  text-transform: uppercase;
  color: white; }

button {
  background: white;
  color: red;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
  padding: 15px;
  /* EL autoprefixer actuará en los comandos que aun no
    estan aceptados por motores de los navegadores */
  -webkit-transition: all 3s ease;
  transition: all 3s ease; }
  button:hover {
    background-color: red;
    color: white;
    font-weight: bold; }
